:root {
	box-sizing: border-box;
	--bg-color: rgba(207, 207, 207);
	--my-font: "Droid Sans", sans-serif;
	--blue-btn-color: rgb(0, 123, 255);
}
body {
	background: var(--bg-color, beige);
	font-family: var(--my-font, "Adwaita Sans", sans-serif);
	box-sizing: border-box;
	margin: 0;
}

#app {
	display: grid;
	grid-template-rows: auto auto auto;
	grid-template-columns: auto;
	align-items: center;
	width: calc(100% - 20px);
}

header {
	grid-row: 1 / 2;
	grid-column: 1 / -1;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: flex-start;
}

img {
	width: 300px;
	height: 200px;
}

nav {
	grid-column: 1 / 2;
	grid-row: 2 / 3;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: start;
	width: 100%;
	height: 50px;
	background-color: var(--bg-color);
	color: white;
	margin-bottom: 10px;
}
nav button {
	background-color: #bd537c;
	background: var(--bg-color);
	color: saddlebrown;
	border: none;
	padding: 10px 20px;
	margin: 0 10px;
	cursor: pointer;
	border-radius: 5px;
	font-size: 16px;
}

.blueButton {
	background-color: var(--blue-btn-color);
	color: white;
	border: none;
	padding: 10px 20px;
	margin: 0 10px;
	cursor: pointer;
	border-radius: 5px;
	font-size: 16px;
}

div#container {
	grid-row: 4 / 5;
	grid-column: 1 / 2;
	display: grid;
	grid-template-rows: auto 1fr auto;
	grid-template-columns: 1fr 2fr;
	width: 100%;
	height: 30vh;
}

#content {
	grid-column: 1 / 2;
	grid-row: 3 / 4;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(2, 1fr);
	align-items: start;
	justify-content: space-evenly;
	padding: 10px;
	width: 20rem;
	height: auto;
}
div#projects {
	grid-column: 1 / -1;
	grid-row: 2 / 3;
}

.project-card {
	grid-row: 2 / 3;
	background-color: #f0f0f0;
	border: 1px solid #28a745;
	border-radius: 5px;
	padding: 10px;
	margin: 10px;
	width: 300px;
	cursor: pointer;
	border-bottom: 2px solid #28a745;
}

.todo-card {
	background-color: white;
	border: 1px solid #007bff;
	border-radius: 5px;
	padding: 5px;
	margin: 10px;
	width: auto;
	cursor: pointer;
}

#add-todo-btn {
	grid-column: 1 / 2;
	grid-row: 3 / 4;
}

form.add-todo-form > div {
	margin: 1rem 0;
	padding: 1rem 0;
	justify-self: start;
}
form {
	margin: 1rem;
	padding: 1rem;
}

div#todos {
	grid-column: 2 / 3;
	grid-row: 3 / 4;
	justify-self: start;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: white;
	width: 30rem;
	border-radius: 10px;
	padding: 2px;
	height: clamp(10rem, 50vh, 500px);
}

#content h2 {
	border-bottom: 2px solid var(--blue-btn-color, #bd537c);
	grid-column: 1 / -1;
	grid-row: 1 / 2;
	font-family: "Adwaita Mono", monospace;
	font-size: 2rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

#menu {
	display: flex;
	flex-direction: row;
	background-color: var(--bg-color);
}

/* Animations */
.project-card:hover {
	transform: scale(1.02);
	transition: transform 0.2s;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
div#projects {
	transform: scale(1.02);
	transition: transform 0.2s;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
