body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr 3fr;
    flex-direction: column;
    align-items: center;
    background: beige;
    --bg-color: biege;
    --my-font: "Droid Sans", sans-serif;
    font-family: "Adwaita Sans", sans-serif;
}

header {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
}

img {
    width: 300px;
    height: 200px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: var(--bg-color);
    color: white;
}
nav button {
    background-color: #bd537c;
    background: var(--bg-color);
    color: saddlebrown;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

#content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 1fr;
    align-items: start;
    justify-content: space-evenly;
    padding: 10px;
    height: 100vh;
}

#todos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    height: 100vh;
}

#content h2 {
    border-bottom: 2px solid #bd537c;
    grid-column: 1 / -1;
    font-family: "Adwaita Mono", monospace;
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#menu {
    display: flex;
    flex-direction: row;
    background-color: var(--bg-color);
}
